
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #ffffff;
    background-color: #000000;
}
.wrapper{
    width: 100%;
    height: 100vh;
}
.top-bar{
    height: 50px;
    padding: 0px 5px;
}
.toolbar{
    background-color: #222222;
    height: 90px;
}
.user-gallery{
    height: calc(100% - 140px);
    overflow-y: auto;
    padding: 20px 0px;
}
.user-card{
    width: calc(100% / 7 - 20px);
    position: relative;
    min-width: 250px;
}

button{
    background-color: #4a4a4a;
    color: #ffffff;
    padding: 5px;
    border-radius: 3px;
}
img{
    display: block;
    width: 100%;
}
.user-name{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3px 6px 3px 3px;
}
.tool{
    text-align: center;
    padding: 10px;
    margin-right: 5px;
}
.tool span{
    display: block;
}
.btn{
    color: #ff0000;
    background-color: #4a4a4a;
    height: 100%;
}
/* FLEX  */
.d-flex{
display: flex;
flex-direction: row;

}
.justify-end{
    justify-content: flex-end;
}
.justify-center{
    justify-content: center ;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
    align-content: center;
}
.align-start{
    align-items: flex-start;
    align-content: flex-start;
}
.gap{
    gap: 10px;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}




